<div fxLayout="row" fxFill fxLayoutAlign="center center" class="login-outer-container">

  <div fxLayout="column" fxLayoutAlign="center" class="login-inner-container mat-elevation-z1">

    <o-form editable-detail="no" show-header="no">

      <div fxLayout="column" fxLayoutAlign="center center" class="logo-container mat-elevation-z4">
        <img src="assets/images/logo{{isDarkMode?'_dark':''}}.svg">
      </div>

      <p class="session-expired" *ngIf="sessionExpired">{{ 'LOGIN.ERROR_SESSION_EXPIRED' | oTranslate }}</p>

      <div fxLayout="column" fxLayoutGap="10px">
        <o-text-input fxFill class="mat-input" #user placeholder="LOGIN.USERNAME" attr="username" required="yes" float-label="auto"
          hide-required-marker="true" read-only="false" label-visible="no">
        </o-text-input>
        <o-password-input fxFill class="mat-input" #password placeholder="LOGIN.PASSWORD" attr="password" required="yes" float-label="auto"
          hide-required-marker="true" show-password-button="yes" read-only="false" label-visible="no">
        </o-password-input>
      </div>

      <o-button type="RAISED" color="primary" label="LOGIN.LOGIN" (onClick)="login()"></o-button>
      <div layout-padding></div>
      <div layout-padding></div>
    </o-form>

  </div>

</div>
