@import 'node_modules/@angular/material/theming';


@mixin login-theme($theme) {
  $background: map-get($theme, color, background);


  .login-outer-container {
    background-color: mat-color($background, background);

    .login-inner-container {
      background-color: mat-color($background, dialog);

      .logo-container {
        background-color: mat-color($background, dialog);
      }

      .session-expired {
        color: #f44336;
      }

    }

  }

}
