.m-top-24 {
    margin-top: 24px;
  }
  
  .full-page {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  
    .login-outer-container {
      overflow: auto;
  
      .login-bg-container {
        background-image: url('^assets/images/background.png');
        width: calc(100% - 640px);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
      }
  
      .wrapp-login {
        width: 640px;
        height: calc(100% - 40px);
  
        .login-inner-container {
          width: 100%;
  
          form {
            padding: 16px;
            min-height: 600px;
            min-width: 368px;
  
            .mdc-text-field--filled:not(.mdc-text-field--disabled) {
              background-color: transparent;
            }
          }
  
          .logo-container {
            width: 368px;
            height: 110px;
  
            img {
              max-height: 110px;
              max-width: 368px;
            }
          }
  
          .login-title-container {
            margin-top: 64px;
          }
  
          button {
            width: 100%;
            margin: 32px 0 49px 0;
            height: 42px;
            font-size: 16px;
          }
  
          .title_text {
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
          }
  
          .text {
            font-size: 12px;
            font-weight: normal;
          }
  
          .link_text {
            font-weight: 700;
            text-decoration: none;
            color: black;
            cursor: pointer;
          }
        }
  
        .footer-container {
          width: 100%;
          height: 40px;
      
          div {
            height: 40px;
            margin-right: 138px;
      
            span {
              font-size: 11px;
              padding-right: 4px;
            }
          }
      
        }
      }
  
    }
  
  }
  @media(max-width:576px) {
    .full-page {
      .login-outer-container {
        .wrapp-login {
          width: 100%;
          min-height: 100%;
  
          .login-inner-container {
            width: 100%;
  
            form {
              min-width: auto;
              min-height: auto;
            }
          }
        }
      }
  
      .footer-container {
        div {
          margin: 0 auto;
          place-content: center !important;
        }
      }
    }
  }
  