@use '@angular/material' as mat;
@use 'sass:map';

@mixin home-theme($theme) {
  $primary: map.get($theme, color, primary);
  $accent: map-get($theme, color, accent);
  $warn: map-get($theme, color, warn);
  $background: map-get($theme, color, background);
  $foreground: map-get($theme, color, foreground);
  $typography: map-get($theme, typography);

  .home-cards-container {
    .card-title {
      .home-title {
        color: mat.get-color-from-palette($foreground, button);
      }
    }

    .cards-grid {
      .categories {
        span {
          color: mat.get-color-from-palette($foreground, base);
        }

        .mat-icon {
          color: mat.get-color-from-palette($foreground, button);
        }
      }

      .card-action {
        color: mat.get-color-from-palette($primary, A400);
      }

      .blue1 {
        background-color: mat.get-color-from-palette($primary, 700);
      }

      .blue2 {
        background-color: mat.get-color-from-palette($primary, 400);
      }

      .blue3 {
        background-color: mat.get-color-from-palette($primary, 100);
      }

      .red {
        background-color: #E03133;
      }

      .yellow {
        background-color: #FFC700;
      }

      .green {
        background-color: #269F00;
      }

      .purple {
        background-color: #744AE2;
      }

      .orange {
        background-color: #FD7E24;
      }

      .label-primary {
        color: mat.get-color-from-palette($primary, 500);
      }

      .data-label-primary-cards,
      .data-label,
      .label-before,
      .data-label-secondary {
        color: mat.get-color-from-palette($foreground, base);
      }

      .card-title {
        color: mat.get-color-from-palette($foreground, button);
      }

    }
  }

}