<div class="full-page" fxFill>
  <div class="login-outer-container" fxFlexAlign="flex-start" fxLayout="column" fxFill>
    <div class="header-language">
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px" class="language-selector">
        <div (click)="changeLang('es')" class="language" [ngClass]="{'selected' : isSpanish}">Castellano</div>
        <div>|</div>
        <div (click)="changeLang('en')" class="language" [ngClass]="{'selected' : !isSpanish}">English</div>
      </div>
    </div>
    <div class="header" fxLayoutAlign="flex-start center">
      <img src="./assets/images/Imatia_logo_white.png">
    </div>
    <div class="login-bg-container">
    </div>
    <div fxLayoutAlign="space-between center" fxLayout="column" class="wrapp-login">
      <div fxFill fxLayout="column" fxLayoutAlign="space-between center" class="login-inner-container" fxFill>
        <div fxLayoutAlign="space-between center" fxLayout="column" fxFill>
          <form [formGroup]="sendEmailForm" (ngSubmit)="sendEmail()">
            <a href="/">
              <div fxLayout="column" fxLayoutAlign="center flex-start" class="logo-container">
                <img src="./assets/images/Imatia_logo.png">
              </div>
            </a>
            <div class="login-title-container" fxLayout="column">
              <span class="title_text">{{ 'LOGIN.ENTER_EMAIL' | oTranslate }}:</span>
            </div>

            <div fxLayout="column">
              <mat-form-field fxFill class="m-top-24">
                <input matInput class="mat-input" placeholder="{{ 'LOGIN.EMAIL' | oTranslate }}" type="email"
                  formControlName="email">
                <mat-error *ngIf="sendEmailForm.get('email').hasError('required')">
                  {{ 'LOGIN.ERROR_REQUIRED_FIELD' | oTranslate }}
                </mat-error>
                <mat-error *ngIf="sendEmailForm.get('email').hasError('email')">
                  {{ 'LOGIN.ERROR_EMAIL' | oTranslate }}
                </mat-error>
              </mat-form-field>
            </div>

            <button mat-raised-button color="primary" type="submit">{{ 'LOGIN.SEND_EMAIL' | oTranslate }}</button>

          </form>
          <div id="footer" class="footer-container">
            <div fxLayout="row" fxLayoutAlign="end center">
              <span class="footer_text">{{ 'LOGIN.FOOTER_CREATED_BY' | oTranslate }}</span>
              <span class="footer_text"> &copy; 2024 </span>
              <span class="footer_text">{{ 'LOGIN.FOOTER_RIGHTS' | oTranslate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>