.m-top-24 {
  margin-top: 24px;
}

.full-page {
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .login-outer-container {
    overflow: auto;

    .header-language {
      height: 24px;
      width: 100%;
      background-color: #0C3C63;
      z-index: 1;

      .language-selector {
        margin-right: 342px;
        color: white;

        .language {
          cursor: pointer;
        }

        .selected {
          border-top: 2px solid #FFFFFF;
        }
      }
    }

    .header {
      height: 120px;
      width: 100%;
      padding-left: 342px;
      background-color: #082842;
      border-bottom: 1px solid #D9D9D9;
    }

    .login-bg-container {
      background-image: url('^assets/images/background.png');
      width: 100%;
      height: calc(100% - 144px);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
    }

    .wrapp-login {
      position: fixed;
      background-color: transparent;
      width: 100%;
      height: calc(100% + 144px);

      .form-container {
        width: 480px;
        height: 478px;
        box-shadow: 0 4px 24px 0 #196DAB80;
        border-radius: 8px;
        background-color: #07315B;

        form {
          padding: 16px;
          min-width: 368px;

          .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: transparent;
          }

          button {
            background-color: #14639C;
          }

          .logo-container {
            margin-top: 48px;
          }

          .mdc-line-ripple::before {
            border-color: #FFFFFFBD;
          }

          .mat-input::placeholder {
            color: #FFFFFFBD;
          }

          .mat-input {
            color: white;
          }
        }
      }

      .session-expired {
        text-align: center;
      }

      .login-title-container {
        margin-top: 64px;
      }

      button {
        width: 100%;
        margin: 32px 0;
        height: 42px;
        font-size: 16px;
      }

      .title_text {
        font-size: 20px;
        font-weight: 700;
        color: #FFFFFFDE;
      }

      .text {
        font-size: 12px;
        font-weight: normal;
      }

      .text_bold {
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        color: #FFFFFFDE;

      }

      .subtitle_text {
        font-size: 12px;
        color: #FFFFFFBD;
      }
    }

    .footer-container {
      position: absolute;
      right: 32px;
      bottom: 24px;

      .footer_text {
        font-size: 11px;
        color: white;
      }
    }
  }
}
@media(max-width:576px) {
  .full-page {
    .login-outer-container {
      .wrapp-login {
        width: 100%;
        min-height: 100%;

        form {
          min-width: auto;
          min-height: auto;
        }
      }
    }
  }
}
