<div class="full-page">
  <div class="login-outer-container" fxFlexAlign="stretch" fxLayout="wrap column" >
    <div class="header-language">
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px" class="language-selector">
        <div (click)="changeLang('es')" class="language" [ngClass]="{'selected' : isSpanish}">Castellano</div>
        <div>|</div>
        <div (click)="changeLang('en')" class="language" [ngClass]="{'selected' : !isSpanish}">English</div>
      </div>
    </div>
    <div class="header" fxLayoutAlign="flex-start center">
      <img src="./assets/images/Imatia_logo_white.png">
    </div>
    <div class="login-bg-container">
    </div>

    <div fxLayoutAlign="center center" class="wrapp-login">

      <div fxLayoutAlign="center center" class="form-container">
        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <div class="login-title-container" fxLayout="column" fxLayoutAlign="flex-start center">
            <p class="session-expired text" *ngIf="sessionExpired">{{ 'LOGIN.ERROR_SESSION_EXPIRED' | oTranslate }}</p>
            <span class="title_text">{{ 'LOGIN.TITLE' | oTranslate }}</span>
          </div>

          <div fxLayout="column">
            <mat-form-field fxFill class="m-top-24">
              <input #user matInput class="mat-input" placeholder="{{ 'LOGIN.USERNAME' | oTranslate }}" id="username"
                [formControl]="userCtrl">
              <mat-error *ngIf="userCtrl.hasError('required')">
                {{ 'LOGIN.ERROR_USER_REQUIRED' | oTranslate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFill class="m-top-24">
              <input #password matInput class="mat-input" placeholder="{{ 'LOGIN.PASSWORD' | oTranslate }}" id="password"
                type="password" [formControl]="pwdCtrl">
              <mat-error *ngIf="pwdCtrl.hasError('required')">
                {{ 'LOGIN.ERROR_PASS_REQUIRED' | oTranslate }}
              </mat-error>
            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" type="submit">{{ 'LOGIN.LOGIN' | oTranslate }}</button>

        </form>
      </div>

    </div>
  </div>

</div>