<o-form #form attr="@customers@" service="@customers@" entity="@customer@" keys="@CUSTOMERID@" class="fill-form" show-header="none"
  columns="@CUSTOMERID;NAME;SURNAME;ADDRESS;PHONE@" (onDataLoaded)="onFormDataLoaded($event)">

  <div fxFlex fxLayout="row" fxLayoutGap="8px">

    <div fxLayout="column" fxFlex="2%" fxLayoutAlign="start center">
      <o-button attr="collapse" type="ICON" icon="{{icon}}" layout-padding (click)="showInfo($event)"></o-button>
    </div>

    <div fxLayout="column" fxFlex="14%" fxLayoutAlign="start space-around" fxLayoutGap="8px" class="personal-data">
      <span class="name">{{name}} {{surname}}</span>
      <span class="address">{{address}}</span>
      <span *ngIf="show" class="phone">{{phone}}</span>
    </div>

    <div fxLayout="column" fxFlex="4%" fxLayoutAlign="start center" fxLayoutGap="8px">
      <img class="avatar-image" [src]="getImageSrc(photo)">
      <mat-icon *ngIf="show" fontIcon="info"></mat-icon>
      <mat-icon *ngIf="show" fontIcon="location_on"></mat-icon>
    </div>

    <div fxFlex class="info-card" [ngClass]="{ 'expand': show, 'collapse': !show}">

      <div fxLayout="column" fxFlex="2%" class="blue-bg"></div>

      <div fxLayout="column" fxFlex="78%" class="file-data">

        <div class="file-number-row" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="flex-start center">
          <div fxLayout="column" fxFlex="5%">
            <mat-icon fontIcon="star" color="primary"></mat-icon>
          </div>
          <div fxLayout="column" fxFlex="64%">
            <p>{{ 'FILE_NUMBER' | oTranslate}} {{id}}</p>
          </div>
          <div fxLayout="column" fxFlex>
            <o-text-input [hidden]="!show" class="creator-input" label="CREATOR"></o-text-input>
          </div>
        </div>

        <div *ngIf="show" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="8px">
          <o-date-input fxFlex="30" label="FILE_OPENING"></o-date-input>
          <o-date-input fxFlex="30" label="LAST_UPDATE"></o-date-input>
          <o-date-input fxFlex="30" label="TERMINATION_DATE"></o-date-input>
        </div>

        <div *ngIf="show" fxLayout="row">
          <o-text-input fxFlex="100" label="SICK_LEAVE_CAUSE"></o-text-input>
        </div>

        <div *ngIf="show" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px" class="respon-zone">
          <div fxLayout="column">
            <span>{{ 'RESPONSABLE' | oTranslate}}: {{name}}</span>
          </div>
          <div fxLayout="column">
            <span>{{ 'ZONE' | oTranslate}}: {{address}}</span>
          </div>
        </div>

        <div class="tags-row" fxLayout="row" fxLayoutGap="8px">
          <span class="types-buttons">{{ 'PREVIOUS_APPOINTMENT' | oTranslate}}</span>
          <span class="types-buttons">{{ 'CHILDREN_AND_FAMILY' | oTranslate}}</span>
          <span class="types-buttons">{{ 'MIGRATIONS' | oTranslate}}</span>
        </div>
      </div>

      <div fxLayout="column" fxFlex fxLayoutAlign="center center" fxLayoutGap="16px">
        <o-button label="ADD_TRACKING_SHEET" type="RAISED" class="file-actions" layout-padding></o-button>
        <o-button *ngIf="show" label="CREATING_REQUEST" type="RAISED" class="file-actions" layout-padding></o-button>
        <o-button *ngIf="show" label="ACCESS_TO_HSUE" type="RAISED" class="file-actions" layout-padding></o-button>
      </div>
    </div>
  </div>

  <div fxFlex="100%" fxLayout="row" class="menu-tabs">
    <mat-tab-group class="example-tab-group">
      <mat-tab label="{{ 'FAMILY_MEMBERS' | oTranslate}}">
        <o-table attr="@customersTable@" service="@customers@" entity="@customer@" keys="@CUSTOMERID@"
          columns="@CUSTOMERID;ID;PHOTO;NAME;SURNAME;STARTDATE;EMAIL@" visible-columns="@ID;PHOTO;NAME;SURNAME;STARTDATE;EMAIL@" query-rows="20"
          delete-button="false">
          <o-table-button attr="viewDealings" label="VIEW_DEALINGS" icon="autorenew"></o-table-button>
          <o-table-button attr="viewResources" label="VIEW_RESOURCES" icon="autorenew"></o-table-button>

          <o-table-column attr="PHOTO" title="PHOTO" orderable="no" searchable="no" type="image" avatar="yes" empty-image="assets/images/no-image.png"
            image-type="base64"></o-table-column>
          <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-table-column>
          <o-table-column attr="ID" title="ID" width="100px"></o-table-column>
        </o-table>
      </mat-tab>
      <mat-tab label="{{ 'OPERATIONS' | oTranslate}}"></mat-tab>
      <mat-tab label="{{ 'EXAMPLE_TAB' | oTranslate}}"></mat-tab>
      <mat-tab label="{{ 'EXAMPLE_TAB' | oTranslate}}"></mat-tab>
    </mat-tab-group>
  </div>

</o-form>
