<o-form #oForm attr="form-detail" service-type="hotels" entity="hotel" keys="id" keys-sql-types="INTEGER" columns="id;name;location;commonAreas"
  editable-detail="true" show-header="true" header-actions="R;U;D" [label-header]="formLabel" show-header-navigation="true"
  (onDataLoaded)="onFormDataLoaded($event)">
  <div fxLayout=column class="form-container bg-level-1" fxFlexFill>
    <div fxLayout="row" class="title">
      <span><strong>{{ 'TITLE_1' | oTranslate}}</strong></span>
    </div>
    <div fxLayout="row" class="first-row-cards" fxLayoutAlign="space-between" fxLayoutGap="20px">
      <div fxLayout="column" fxFlex.lg="20%" fxFlex="15%" class="card-1">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <div fxLayout="row" fxLayoutGap="8px" class="card-title">
                <mat-icon color="primary">people</mat-icon>
                <span> {{ 'CARD_1_TITLE' | oTranslate }}</span>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center" class="first-row">
              <mat-icon color="primary">home</mat-icon>
              <span class="number-big">2/3</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <span class="text-medium">{{ 'CARD_1_TEXT_1' | oTranslate}}</span>
            </div>
            <div fxLayout="row" class="second-row" fxLayoutAlign="space-between">
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
                  <mat-icon color="primary">people</mat-icon>
                  <span class="number-medium">6</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                  <span class="text-small">{{ 'CARD_1_TEXT_2' | oTranslate}}</span>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
                  <mat-icon color="primary">crop_free</mat-icon>
                  <span class="number-medium">2</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                  <span class="text-small">{{ 'CARD_1_TEXT_3' | oTranslate}}</span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxLayout="column" fxFlex class="card-2">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <div fxLayout="row" fxLayoutGap="8px" class="card-title">
                <mat-icon color="primary">energy_savings_leaf</mat-icon>
                <span> {{ 'CARD_2_TITLE' | oTranslate }}</span>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="8px">
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="14px">
                  <mat-icon class="material-icons-outlined" color="primary">lightbulb_2</mat-icon>
                  <span class="text-medium-20">{{'CARD_2_TEXT_1' | oTranslate }}</span>
                </div>
                <div fxLayout="row" class="data-row" fxLayoutAlign="center baseline" fxLayoutGap="8px">
                  <mat-icon class="arrow-up">arrow_upward</mat-icon>
                  <span class="number-big">645</span>
                  <span class="text-medium-20">{{'CARD_2_TEXT_2' | oTranslate }}</span>
                </div>
                <div fxLayout="row">
                  <span class="tag-negative">{{'CARD_2_TEXT_3' | oTranslate }}</span>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="14px">
                  <mat-icon class="material-icons-outlined" color="primary">water_drop</mat-icon>
                  <span class="text-medium-20">{{'CARD_2_TEXT_4' | oTranslate }}</span>
                </div>
                <div fxLayout="row" class="data-row" fxLayoutAlign="center baseline" fxLayoutGap="8px">
                  <mat-icon class="arrow-down">arrow_downward</mat-icon>
                  <span class="number-big">321</span>
                  <span class="text-medium-20">{{'CARD_2_TEXT_5' | oTranslate }}</span>
                </div>
                <div fxLayout="row">
                  <span class="tag-positive">{{'CARD_2_TEXT_6' | oTranslate }}</span>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="14px">
                  <mat-icon class="material-icons-outlined" color="primary">cloud</mat-icon>
                  <span class="text-medium-20">{{'CARD_2_TEXT_7' | oTranslate }}</span>
                </div>
                <div fxLayout="row" class="data-row" fxLayoutAlign="center baseline" fxLayoutGap="8px">
                  <mat-icon class="arrow-up">arrow_upward</mat-icon>
                  <span class="number-big">435</span>
                  <span class="text-medium-20">{{'CARD_2_TEXT_8' | oTranslate }}</span>
                </div>
                <div fxLayout="row">
                  <span class="tag-negative">{{'CARD_2_TEXT_9' | oTranslate }}</span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxLayout="column" fxFlex.lg="20%" fxFlex="15%" class="card-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <div fxLayout="row" fxLayoutGap="8px" class="card-title">
                <mat-icon color="primary">straighten</mat-icon>
                <span> {{ 'CARD_3_TITLE' | oTranslate }}</span>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="8px">
              <div fxLayout="column">
                <mat-icon color="primary">opacity</mat-icon>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start baseline">
                  <span class="number-medium">75</span>
                  <span class="text-medium-20">{{'CARD_3_TEXT_1' | oTranslate }}</span>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="8px">
              <div fxLayout="column">
                <mat-icon color="primary">device_thermostat</mat-icon>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start baseline">
                  <span class="number-medium">12</span>
                  <span class="text-medium-20">{{'CARD_3_TEXT_2' | oTranslate }}</span>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="8px">
              <div fxLayout="column">
                <mat-icon class="material-icons-outlined" color="primary">cloud_alert</mat-icon>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start baseline">
                  <span class="number-medium">445</span>
                  <span class="text-medium-20">{{'CARD_3_TEXT_3' | oTranslate }}</span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" class="second-row-cards" fxLayoutAlign="space-between" fxLayoutGap="20px">
      <div fxLayout="column" fxFlex class="card-4">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <div fxLayout="row" fxLayoutGap="8px" class="card-title">
                <mat-icon color="primary">home</mat-icon>
                <span> {{ 'CARD_4_TITLE' | oTranslate }}</span>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-around">
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="8px">
                  <mat-icon class="material-icons-outlined" color="primary">lightbulb_2</mat-icon>
                  <span class="text-medium">{{'CARD_4_TEXT_1' | oTranslate }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="2px">
                  <span class="number-small">645</span>
                  <span class="text-small">{{'CARD_4_TEXT_2' | oTranslate }}</span>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="8px">
                  <mat-icon class="material-icons-outlined" color="primary">water_drop</mat-icon>
                  <span class="text-medium">{{'CARD_4_TEXT_3' | oTranslate }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="2px">
                  <span class="number-small">321</span>
                  <span class="text-small">{{'CARD_4_TEXT_4' | oTranslate }}</span>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="8px">
                  <mat-icon class="material-icons-outlined" color="primary">cloud</mat-icon>
                  <span class="text-medium">{{'CARD_4_TEXT_5' | oTranslate }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="2px">
                  <span class="number-small">435</span>
                  <span class="text-small">{{'CARD_4_TEXT_6' | oTranslate }}</span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxLayout="column" fxFlex class="card-5">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <div fxLayout="row" fxLayoutGap="8px" class="card-title">
                <mat-icon class="material-icons-outlined" color="primary">home</mat-icon>
                <span> {{ 'CARD_5_TITLE' | oTranslate }}</span>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-around">
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="8px">
                  <mat-icon class="material-icons-outlined" color="primary">lightbulb_2</mat-icon>
                  <span class="text-medium">{{'CARD_5_TEXT_1' | oTranslate }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="2px">
                  <span class="number-small">645</span>
                  <span class="text-small">{{'CARD_5_TEXT_2' | oTranslate }}</span>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="8px">
                  <mat-icon class="material-icons-outlined" color="primary">water_drop</mat-icon>
                  <span class="text-medium">{{'CARD_5_TEXT_3' | oTranslate }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="2px">
                  <span class="number-small">321</span>
                  <span class="text-small">{{'CARD_5_TEXT_4' | oTranslate }}</span>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="8px">
                  <mat-icon class="material-icons-outlined" color="primary">cloud</mat-icon>
                  <span class="text-medium">{{'CARD_5_TEXT_5' | oTranslate }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="2px">
                  <span class="number-small">435</span>
                  <span class="text-small">{{'CARD_5_TEXT_6' | oTranslate }}</span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxLayout="column" fxFlex class="card-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <div fxLayout="row" fxLayoutGap="8px" class="card-title">
                <mat-icon color="primary">deck</mat-icon>
                <span> {{ 'CARD_6_TITLE' | oTranslate }}</span>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-around">
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="8px">
                  <mat-icon class="material-icons-outlined" color="primary">lightbulb_2</mat-icon>
                  <span class="text-medium">{{'CARD_6_TEXT_1' | oTranslate }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="2px">
                  <span class="number-small">645</span>
                  <span class="text-small">{{'CARD_6_TEXT_2' | oTranslate }}</span>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="8px">
                  <mat-icon class="material-icons-outlined" color="primary">water_drop</mat-icon>
                  <span class="text-medium">{{'CARD_6_TEXT_3' | oTranslate }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="2px">
                  <span class="number-small">321</span>
                  <span class="text-small">{{'CARD_6_TEXT_4' | oTranslate }}</span>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="8px">
                  <mat-icon class="material-icons-outlined" color="primary">cloud</mat-icon>
                  <span class="text-medium">{{'CARD_6_TEXT_5' | oTranslate }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="2px">
                  <span class="number-small">435</span>
                  <span class="text-small">{{'CARD_6_TEXT_6' | oTranslate }}</span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" class="grid-row" fxFlex>
      <div fxLayout="column" fxFlexFill>
        <div fxLayout="row" class="title" fxLayoutAlign="space-between">
          <span><strong>{{ 'TITLE_2' | oTranslate}}</strong></span>
          <o-button-toggle-group attr="toggleGroup" layout="row" multiple="no" value="cabins" layout-padding
            (onChange)="onFilterChange($event.value)">
            <o-button-toggle attr="toggle1" value="all" label="ALL"></o-button-toggle>
            <o-button-toggle attr="toggle2" value="cabins" label="CABINS"></o-button-toggle>
            <o-button-toggle attr="toggle3" value="commonAreas" label="COMMON_AREAS"></o-button-toggle>
          </o-button-toggle-group>
        </div>
        <div fxLayout="row" class="list" *ngIf="filter == 'cabins'">
          <o-list #list attr="list" service-type="hotels" entity="cabin" columns="id;name;capacity;status;uptake;image;hotelId"
            quick-filter-columns="capacity;status" parent-keys="hotelId:id" show-buttons-text="yes" insert-button="yes" insert-button-floatable="no"
            delete-button="no" query-rows="3" pagination-controls="yes">
            <div class="cards-container">
              <mat-card *ngFor="let row of list.dataArray" [o-list-item]="row" class="card">
                <mat-card-content fxLayoutGap="24px" fxFlexFill>
                  <div fxLayout="column" fxFlex="40%">
                    <img src="{{ row.image }}" />
                  </div>
                  <div fxLayout="column" fxFlex class="data-column">
                    <div fxLayout="row" fxLayoutAlign="end">
                      <mat-chip class="tag">
                        <mat-icon color="primary">home</mat-icon>
                        {{ row.status | oTranslate }}
                      </mat-chip>
                    </div>
                    <div fxLayout="row">
                      <span class="title"><strong>{{ row.name }}</strong></span>
                    </div>
                    <div fxLayout="row" fxLayoutGap="6px">
                      <div fxLayout="column">
                        <mat-icon color="primary">people</mat-icon>
                      </div>
                      <div fxLayout="column" class="card-item-text">
                        {{ row.capacity }} {{'CARD_LIST_1' | oTranslate}}
                      </div>
                    </div>
                    <div fxLayout="row">
                      <div [ngSwitch]="row.uptake">
                        <div *ngSwitchCase="'low'" class="uptake-low" fxLayoutAlign="start center" fxLayoutGap="6px">
                          <div fxLayout="column">
                            <mat-icon>eco</mat-icon>
                          </div>
                          <div fxLayout="column" class="card-item-text">
                            <span>{{ 'UPTAKE_GOOD' | oTranslate}}</span>
                          </div>
                        </div>
                        <div *ngSwitchCase="'high'" class="uptake-high" fxLayoutAlign="start center" fxLayoutGap="6px">
                          <div fxLayout="column">
                            <mat-icon>warning</mat-icon>
                          </div>
                          <div fxLayout="column" class="card-item-text">
                            <span>{{ 'UPTAKE_BAD' | oTranslate}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </o-list>
        </div>
        <div fxLayout="row" class="list" *ngIf="filter == 'commonAreas'">
          <o-list #list attr="list" service-type="hotels" entity="common" columns="id;name;capacity;schedule;image;hotelId"
            quick-filter-columns="capacity;schedule" parent-keys="hotelId:id" show-buttons-text="yes" insert-button="yes" insert-button-floatable="no"
            delete-button="no" query-rows="3" pagination-controls="yes">
            <div class="cards-container">
              <mat-card *ngFor="let row of list.dataArray" [o-list-item]="row" class="card">
                <mat-card-content fxLayoutGap="24px" fxFlexFill>
                  <div fxLayout="column" fxFlex="40%">
                    <img src="{{ row.image }}" />
                  </div>
                  <div fxLayout="column" fxFlex class="data-column" fxLayoutAlign="center">
                    <div fxLayout="row">
                      <span class="title"><strong>{{ row.name }}</strong></span>
                    </div>
                    <div fxLayout="row" fxLayoutGap="6px">
                      <div fxLayout="column">
                        <mat-icon color="primary">people</mat-icon>
                      </div>
                      <div fxLayout="column" class="card-item-text">
                        {{ row.capacity }} {{'CARD_LIST_2' | oTranslate}}
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="6px">
                      <div fxLayout="column">
                        <mat-icon color="primary">schedule</mat-icon>
                      </div>
                      <div fxLayout="column" class="card-item-text">
                        <ng-container *ngFor="let tramo of (row.schedule | splitSchedule)">
                          <span class="schedule-line">{{ tramo }}</span>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </o-list>
        </div>
        <div fxLayout="row" class="list" *ngIf="filter == 'all'">
          <o-list #spacesList attr="spaces" service-type="hotels" entity="spaces" columns="id;type;name;capacity;status;uptake;schedule;image;hotelId"
            parent-keys="hotelId:id" quick-filter-columns="capacity;schedule;type" parent-keys="hotelId:id" show-buttons-text="yes"
            insert-button="yes" insert-button-floatable="no" delete-button="no" query-rows="3" pagination-controls="yes">
            <div class="cards-container">
              <mat-card *ngFor="let row of spacesList.dataArray" [o-list-item]="row" class="card">
                <mat-card-content fxLayoutGap="24px" fxFlexFill>
                  <div fxLayout="column" fxFlex="40%">
                    <img [src]="row.image" />
                  </div>
                  <div fxLayout="column" fxFlex class="data-column">
                    <div fxLayout="row" fxLayoutAlign="end">
                      <mat-chip color="primary" selected disableRipple>
                        {{ row.type === 'cabin' ? ('CABIN' | oTranslate) : ('COMMON_AREA' | oTranslate) }}
                      </mat-chip>
                    </div>
                    <div fxLayout="row">
                      <span class="title"><strong>{{ row.name }}</strong></span>
                    </div>
                    <div fxLayout="row" fxLayoutGap="6px" *ngIf="row.capacity != null">
                      <div fxLayout="column">
                        <mat-icon color="primary">people</mat-icon>
                      </div>
                      <div fxLayout="column" class="card-item-text">
                        {{ row.capacity }} {{ row.type === 'cabin' ? ('CARD_LIST_1' | oTranslate) : ('Aforo' ) }}
                      </div>
                    </div>
                    <div fxLayout="row" *ngIf="row.type === 'cabin' && row.status">
                      <div [ngSwitch]="row.uptake">
                        <div *ngSwitchCase="'low'" class="uptake-low" fxLayoutAlign="start center" fxLayoutGap="6px">
                          <mat-icon>eco</mat-icon>
                          <span class="card-item-text">{{ 'UPTAKE_GOOD' | oTranslate }}</span>
                        </div>
                        <div *ngSwitchCase="'high'" class="uptake-high" fxLayoutAlign="start center" fxLayoutGap="6px">
                          <mat-icon>warning</mat-icon>
                          <span class="card-item-text">{{ 'UPTAKE_BAD' | oTranslate }}</span>
                        </div>
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="6px" *ngIf="row.type === 'common' && row.schedule">
                      <div fxLayout="column">
                        <mat-icon color="primary">schedule</mat-icon>
                      </div>
                      <div fxLayout="column" class="card-item-text">
                        <ng-container *ngFor="let tramo of (row.schedule | splitSchedule)">
                          <span class="schedule-line">{{ tramo }}</span>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </o-list>
        </div>
      </div>
    </div>
  </div>
</o-form>
