@use "sass:map";
@use '@angular/material'as mat;
@use 'ontimize-web-ngx/theming/ontimize-style.scss'as ontimize-style;

$mat-custom-primary: (50: #fdfdfd,
  100: #fbfbfb,
  200: #f9f9f9,
  300: #f6f6f6,
  400: #f4f4f4,
  500: #666666,
  600: #f0f0f0,
  700: #eeeeee,
  800: #ececec,
  900: #e8e8e8,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-custom-accent: (50: #fce7e8,
  100: #f7c2c5,
  200: #f2999e,
  300: #ec7077,
  400: #e85259,
  500: #e4333c,
  600: #e12e36,
  700: #dd272e,
  800: #d92027,
  900: #d1141a,
  A100: #ffffff,
  A200: #ffcfd0,
  A400: #ff9c9e,
  A700: #ff8285,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Define a theme.
$primary: mat.define-palette($mat-custom-primary);
$accent:mat.define-palette($mat-custom-accent);

/* Light theme */
$theme: ontimize-style.o-mat-light-theme($primary, $accent);

/* Dark theme */
$dark-theme: ontimize-style.o-mat-dark-theme($primary, $accent);
