<div class="full-page">
  <div class="login-outer-container">

    <div class="login-bg-container">
    </div>

    <div class="wrapp-login">
      <div fxFill fxLayout="column" fxLayoutAlign="center center" class="login-inner-container">
        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <div fxLayout="column" fxLayoutAlign="center flex-start" class="logo-container">
            <img src="./assets/images/Imatia_logo.png">
          </div>

          <div class="login-title-container" fxLayout="column">
            <p class="session-expired text" *ngIf="sessionExpired">Session expired</p>
            <span class="title_text">Log in to your account:</span>
          </div>

          <div fxLayout="column">
            <mat-form-field fxFill class="m-top-24">
              <input matInput class="mat-input" #user placeholder="Username" id="username" [formControl]="userCtrl">
              <mat-error *ngIf="userCtrl.hasError('required')">
                Incorrect username
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFill class="m-top-24">
              <input matInput class="mat-input" #password placeholder="Password" id="password" type="password"
                [formControl]="pwdCtrl">
              <mat-error *ngIf="pwdCtrl.hasError('required')">
                Incorrect password
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="m-top-24">
            <mat-checkbox #checkbox (change)="rememberMe($event.checked)" class="text">Remember me</mat-checkbox>
            <a href="" class="text link_text">Forgot your password?</a>
          </div>

          <button mat-raised-button color="primary" type="submit">Login</button>

          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px" layout-padding>
            <span class="text">Don't have account?</span>
            <a href="" class="title_text">Register</a>
          </div>
        </form>
      </div>

      <div id="footer" class="footer-container">
        <div fxLayout="row" fxLayoutAlign="end center">
          <span>Created by Imatia Innovation</span>
          <span> &copy; 2024 </span>
          <span>All rights reserved</span>
        </div>
      </div>
    </div>
  </div>

</div>
