<div class="full-page bg-level-1" fxLayout="column" fxLayoutAlign="start" fxFill>
  <span fxLayout="row" fxLayoutAlign="center" class="title"><strong>Packs</strong></span>
  <o-form #filterForm class="form" editable-detail="yes" show-header="no" fxFlex="none">
    <div class="filters" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between">
      <div fxLayout="column" fxFlex="24%" fxLayoutGap="16px">
        <o-text-input attr="name" read-only="no" label="FILTER_NAME"></o-text-input>
        <o-date-input attr="dateBegin" format="YYYY-MM-DD" value-type="string" label="BEGIN_DATE" read-only="no" required="no"></o-date-input>
      </div>
      <div fxLayout="column" fxFlex="24%" fxLayoutGap="16px">
        <o-currency-input #price attr="price_min" label="MIN_PRICE"></o-currency-input>
        <o-integer-input attr="duration" label="{{ 'NUMBER_DAYS' | oTranslate }}"></o-integer-input>
      </div>
      <div fxLayout="column" fxFlex="24%" fxLayoutGap="16px">
        <o-currency-input #price attr="price_max" label="MAX_PRICE"></o-currency-input>
        <o-integer-input attr="people" label="NUMBER_TRAVELLERS"></o-integer-input>
      </div>
      <div fxLayout="column" fxFlex="24%" fxLayoutGap="16px">
        <o-combo #comboCity attr="location" service-type="packs" service="packs" entity="packs" label="FILTER_CITY" translate="yes"
          value-column="location" columns="location" required="no" multiple="no" null-selection="yes" searchable="yes" query-method="getLocation">
        </o-combo>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-around end">
          <o-button attr="filter" type="STROKED" icon="search" matTooltip="{{ 'SEARCH' | oTranslate }}" label="SEARCH"
            [oFilterBuilderQuery]="filterBuilder"></o-button>
          <o-button attr="clear" type="STROKED" icon="delete" matTooltip="{{ 'CLEAR_FILTER' | oTranslate }}" label="CLEAR_FILTER"
            [oFilterBuilderClear]="filterBuilder"></o-button>
        </div>
      </div>
    </div>
    <o-filter-builder #filterBuilder attr="thefilter" filters="name;dateBegin;price_min;price_max;duration;people;location" [target]="grid"
      query-on-change="no" query-on-change-delay="500" [expression-builder]="createFilter"></o-filter-builder>
  </o-form>
  <o-grid #grid attr="grid" service-type="packs" entity="packs" keys="id"
    columns="id;name;location;price;duration;score;people;dateBegin;dateEnd;image" page-size-options="8" orderable="true" query-rows="8"
    sort-column="dateBegin:desc" sortable-columns="name;score" quick-filter="false" insert-button="false" refresh-button="false" pageable="yes"
    pagination-controls="true" gutter-size="4px" fixed-header="yes" grid-item-height="260px" detail-mode="none" insert-button-floatable="no"
    paginated-query-method="getCards" [cols]="gridCols" fxFlex>
    <o-grid-item *ngFor="let data of grid.dataArray">
      <div class="card-bg">
        <img [src]="data.image">
        <div class="card-content" fxLayout="column" fxFlexFill fxLayoutGap="16px">
          <span fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="60%" class="grid-card-title">{{data.name}}</span>
          <span fxLayout="row" fxLayoutAlign="center start" fxFlex="10%" class="grid-card-text">{{data.location | uppercase}}</span>
          <div fxLayout="row" fxLayoutAlign="space-between" fxFlex class="card-content-last-row">
            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
                <span class="grid-card-text">{{data.score}}</span>
                <mat-icon>star</mat-icon>
              </div>
            </div>
            <span fxLayout="column" class="grid-card-text">{{data.price | currency:'EUR'}}</span>
          </div>
        </div>
      </div>
    </o-grid-item>
  </o-grid>
</div>
