@use '@angular/material' as mat;
@use 'sass:map';

@mixin grid-theme($theme) {
  $primary: map.get($theme, color, primary);
  $accent: map.get($theme, color, accent);
  $foreground: map.get($theme, color, foreground);
  $background: map.get($theme, color, background);
  $typography: map-get($theme, typography);
 $is-dark-theme: map.get($theme, is-dark);
  .full-page {

    .title {
      font-size: mat.font-size($typography, headline-4);
    }

    .grid-container {

      .card-bg {

        .card-content {

          .grid-card-title {

            font-size: mat.font-size($typography, headline-4);
            color: mat.get-color-from-palette($background, level-1);
          }

          .grid-card-text {
            font-size: mat.font-size($typography, subtitle-1);
            color: mat.get-color-from-palette($background, level-1);
          }

          .card-content-last-row {
            mat-icon {
              color: yellow;
            }
          }
        }
      }
    }
  }

  .o-dark .full-page .grid-container .card-bg .card-content .grid-card-title {
    font-size: mat.font-size($typography, headline-4);
    color: mat.get-color-from-palette($background, level-1);
  }

  .o-dark .full-page .grid-container .card-bg .card-content .grid-card-text {
    font-size: mat.font-size($typography, subtitle-1);
    color: mat.get-color-from-palette($background, level-1);
  }
}