<o-form editable-detail="no" show-header="no">
  <div fxFill fxLayout="column" fxLayoutAlign="start" class="bg-level-1">
    <div fxLayout="row">
      <o-text-input attr="NAMEFILTER" read-only="no" fxFlex></o-text-input>
      <o-text-input attr="SURNAMEFILTER" read-only="no" fxFlex></o-text-input>
      <o-email-input attr="EMAILFILTER" read-only="no" fxFlex></o-email-input>
    </div>
    <div fxLayout="row">
      <o-date-input value-type="timestamp" attr="DATEFILTER" read-only="no"></o-date-input>
    </div>
    <div fxLayoutAlign="end">
      <o-button attr="clear" [oFilterBuilderClear]="filterBuilder" type="RAISED" label="Clear"></o-button>
      <o-button attr="filter" [oFilterBuilderQuery]="filterBuilder" type="RAISED" label="Filter"></o-button>
    </div>
    <o-filter-builder #filterBuilder attr="thefilter" filters="NAME:NAMEFILTER;SURNAME:SURNAMEFILTER;EMAIL:EMAILFILTER;STARTDATE:DATEFILTER" [target]="table"
      query-on-change="no" query-on-change-delay="500" [expression-builder]="createFilter"></o-filter-builder>
    <o-table #table fxFlex attr="customer" title="CUSTOMERS" service="customers" entity="customer" keys="CUSTOMERID"
      columns="CUSTOMERID;PHOTO;NAME;SURNAME;ADDRESS;STARTDATE;EMAIL;CUSTOMERTYPEID"
      visible-columns="PHOTO;NAME;SURNAME;STARTDATE;EMAIL;ADDRESS;CUSTOMERTYPEID" sort-columns="SURNAME" query-rows="24" quick-filter="yes"
      row-height="medium" select-all-checkbox="true" pageable="yes" virtual-scroll="no">

      <o-table-columns-filter columns="STARTDATE;SURNAME">
        <o-table-columns-filter-column attr="SURNAME" sort="desc"> </o-table-columns-filter-column>
        <o-table-columns-filter-column attr="STARTDATE" start-view="month"> </o-table-columns-filter-column>
      </o-table-columns-filter>

      <o-table-column async-load="true" width="48px" attr="PHOTO" orderable="no" searchable="no" type="image" image-type="base64"
        empty-image="assets/images/no-image.png" avatar="yes">
      </o-table-column>
      <o-table-column attr="NAME" title="NAME" orderable="no"></o-table-column>
      <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-table-column>
      <o-table-column attr="CUSTOMERTYPEID" title="CUSTOMERTYPEID" editable="true">
        <o-table-cell-renderer-service service="customers" entity="customerType" value-column="DESCRIPTION" translate="no"
          columns="CUSTOMERTYPEID;DESCRIPTION" visible-columns="DESCRIPTION">
        </o-table-cell-renderer-service>
      </o-table-column>
      <o-table-context-menu></o-table-context-menu>
      <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
    </o-table>
  </div>
</o-form>