@use '@angular/material' as mat;
@use 'node_modules/ontimize-web-ngx/theming/ontimize-style.scss' as ontimize-style;

/* Color definitions */
$mat-custom-primary: (
  50 : #E6F0E1,
  100 : #CADEBE,
  200 : #A9C998,
  300 : #88B372,
  400 : #669E4C,
  500 : #4D8639,
  600 : #437632,
  700 : #38652A,
  800 : #2E5523,
  900 : #1A3615,
  A100: #B7E6AE,
  A200: #7FCA7E,
  A400: #52AD52,
  A700: #437632,
  contrast: (50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #ffffff, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #ffffff, A700 : #ffffff)
);

/* Color definitions */
$mat-custom-primary-dark: (
  50: #EFF8E9,
  100: #D8EEC7,
  200: #BEE2A4,
  300: #A3D67F,
  400: #8ECD62,
  500: #7BC446,
  600: #6CB43E,
  700: #58A034,
  800: #448C2B,
  900: #1E6A19,
  A100: #CBF0BE,
  A200: #94E697,
  A400: #77D659,
  A700: #6CB43E,
  contrast: (50 : #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000)
);

// Define a theme.
$primary: mat.define-palette($mat-custom-primary);
$accent: $primary;
$primary-dark: mat.define-palette($mat-custom-primary-dark);
$accent-dark: $primary-dark;

/* Light theme */
$theme: ontimize-style.o-mat-light-theme($primary, $accent);

/* Dark theme */
$dark-theme: ontimize-style.o-mat-dark-theme($primary-dark, $accent-dark);