<div class="home-container" fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="18px">
  <div class="home-title" fxLayout="row" fxFlex="18px" fxLayoutAlign="start center">
    <mat-icon>home</mat-icon>
  </div>
  <div class="home-content" fxLayout="row" fxFlex fxLayoutGap="80px">
    <div class="categories-cards" fxLayout="column" fxFlex="40%" fxLayoutGap="24px">
      <div class="column-title" fxLayout="row">
        <span>{{'CATEGORIES' | oTranslate}}</span>
      </div>
      <div class="column-content">
        <o-card-menu-layout parent-menu-id="@candidatesMenu@"></o-card-menu-layout>
      </div>
    </div>
    <div class="dashboard-alerts" fxLayout="column" fxFlex="60%" fxLayoutGap="24px">
      <div class="column-title" fxLayout="row">
        <span>{{'DASHBOARD' | oTranslate}}</span>
      </div>
      <div class="dashboard-cards" fxLayout="row wrap" fxLayoutGap="32px">
        <mat-card class="dashboard-card" fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="24px">
          <div fxLayout="row" class="card-title">{{'PENDING_INSPECTIONS' | oTranslate}}</div>
          <div fxLayout="row" class="card-content" fxFlex fxLayoutAlign="center center" fxLayoutGap="32px">
            <mat-icon class="card-icon">description</mat-icon>
            <div class="card-number">{{ candidatesAmounts.total }}</div>
          </div>
        </mat-card>

        <mat-card class="dashboard-card" fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="24px">
          <div fxLayout="row" class="card-title">{{'ACTIVE_EQUIPMENT' | oTranslate}}</div>
          <div fxLayout="row" class="card-content" fxFlex fxLayoutAlign="center center" fxLayoutGap="32px">
            <mat-icon class="card-icon">home_repair_service</mat-icon>
            <div class="card-number">{{ interviewsAmounts.total }}</div>
          </div>
        </mat-card>

        <mat-card class="dashboard-card" fxFlex="0 1 auto" fxLayout="column">
          <div fxLayout="row" fxLayoutGap="48px">
            <div fxLayout="column" fxLayoutGap="24px">
              <div class="card-title" fxLayout="row">{{'REPORTS' | oTranslate}}</div>
              <div class="card-info" fxLayout="row" fxLayoutGap="24px">
                <div class="info-row" fxLayout="column" fxLayoutAlign="center center">
                  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
                    <span class="dot dot-done"></span>
                    <span class="info-number">60</span>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <span class="info-label">{{'COMPLETED' | oTranslate}}</span>
                  </div>
                </div>
                <div class="info-row" fxLayout="column" fxLayoutAlign="center center">
                  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
                    <span class="dot dot-pending"></span>
                    <span class="info-number">40</span>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <span class="info-label">{{'PENDING' | oTranslate}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="info-row" fxLayout="column" fxLayoutAlign="flex-start center">
              <div fxLayout="row" fxFlex="58px" fxLayoutAlign="center center">
                <span class="total-number">100</span>
              </div>
              <div fxLayout="row" fxFlex="16px">
                <mat-progress-bar mode="determinate" value="60" class="progress-realizados"></mat-progress-bar>
              </div>
              <div fxLayout="row" fxFlex fxLayoutAlign="center flex-end">
                <span class="info-label">{{'TOTALS' | oTranslate}}</span>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="column-title" fxLayout="row">
        <span>{{'NOTIFICATIONS' | oTranslate}}</span>
      </div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="date">24/08/2024</span>
            <span class="title">INSPECCIÓN EQUIPO AC - A CORUÑA</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar tristique eros.
          Sed quis orci id tellus tempus tempor. Fusce ultrices lorem id dictum viverra. Ut mollis id mi mollis feugiat.
          Praesent auctor efficitur est eu suscipit.</p>
        <span class="color-label">Inspección</span>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="date">05/06/2024</span>
            <span class="title">REVISIÓN EQUIPOS ELEVADORES</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar tristique eros.
          Sed quis orci id tellus tempus tempor. Fusce ultrices lorem id dictum viverra. Ut mollis id mi mollis feugiat.
          Praesent auctor efficitur est eu suscipit.</p>
        <span class="color-label">Revisión</span>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="date">15/04/2024</span>
            <span class="title">REVISIÓN ANUAL EXTINTORES</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar tristique eros.
          Sed quis orci id tellus tempus tempor. Fusce ultrices lorem id dictum viverra. Ut mollis id mi mollis feugiat.
          Praesent auctor efficitur est eu suscipit.</p>
        <span class="color-label">Revisión</span>
      </mat-expansion-panel>
      <div fxLayout="row" class="link" fxLayoutAlign="flex-end">
        <a href="../link">{{ 'SEE_ALL' | oTranslate }}</a>
      </div>
    </div>
  </div>
</div>
