<div class="full-page" fxFill>
  <div class="login-outer-container" fxFlexAlign="stretch" fxLayout="wrap column" fxFill>
    <div class="header-language">
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px" class="language-selector">
        <div (click)="changeLang('es')" (keydown)="changeLang('es')" tabindex="0" class="language" [ngClass]="{'selected' : isSpanish}">Castellano</div>
        <div>|</div>
        <div (click)="changeLang('en')" (keydown)="changeLang('en')" tabindex="0"class="language" [ngClass]="{'selected' : !isSpanish}">English</div>
      </div>
    </div>
    <div class="header" fxLayoutAlign="flex-start center">
      <img src="./assets/images/Imatia_logo_white.png">
    </div>
    <div class="login-bg-container">
    </div>

    <div fxLayoutAlign="center center" class="wrapp-login">

      <div fxLayoutAlign="center center" class="form-container">
        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <div [ngClass]="{'hide' : usernameHiden}">
            <div fxLayout="column" fxLayoutAlign="center flex-start" class="logo-container">
              <img src="./assets/images/Imatia_logo_white.png">
            </div>

            <div class="login-title-container" fxLayout="column">
              <p class="session-expired text" *ngIf="sessionExpired">{{ 'LOGIN.ERROR_SESSION_EXPIRED' | oTranslate }}</p>
              <span class="title_text">{{ 'LOGIN.TITLE' | oTranslate }}:</span>
            </div>

            <div fxLayout="column">
              <mat-form-field fxFill class="m-top-24">
                <input matInput class="mat-input" #user placeholder="{{ 'LOGIN.USERNAME' | oTranslate }}" id="username"
                  [formControl]="userCtrl">
                <mat-error *ngIf="userCtrl.hasError('required')">
                  {{ 'LOGIN.ERROR_USER_REQUIRED' | oTranslate }}
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
              <span class="subtitle_text">{{ 'LOGIN.NO_ACCOUNT' | oTranslate }}</span>
              <a href="login/register" class="text_bold">{{ 'LOGIN.REGISTER' | oTranslate }}</a>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="m-top-24">
              <span class="text_bold link_text" (click)="forgotPwd()" (keydown)="forgotPwd()" tabindex="0">{{ 'LOGIN.FORGOT_PWD' | oTranslate }}</span>
            </div>

            <button mat-raised-button color="primary" type="submit">{{ 'LOGIN.NEXT' | oTranslate }}</button>
          </div>

          <div [ngClass]="{'hide' : !usernameHiden}">
            <div fxLayout="column" fxLayoutAlign="center flex-start" class="logo-container">
              <img src="./assets/images/Imatia_logo_white.png">
            </div>

            <div class="login-title-container" fxLayout="column">
              <p class="session-expired text" *ngIf="sessionExpired">{{ 'LOGIN.ERROR_SESSION_EXPIRED' | oTranslate }}</p>
              <span class="title_text">{{ 'LOGIN.TITLE' | oTranslate }}:</span>
            </div>

            <div fxLayout="column">
              <mat-form-field fxFill class="m-top-24">
                <input matInput class="mat-input" #password placeholder="{{ 'LOGIN.PASSWORD' | oTranslate }}" id="password"
                  type="password" [formControl]="pwdCtrl">
                <mat-error *ngIf="pwdCtrl.hasError('required')">
                  {{ 'LOGIN.ERROR_PASS_REQUIRED' | oTranslate }}
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="m-top-24">
              <span class="text_bold link_text" (click)="forgotPwd()" (keydown)="forgotPwd()" tabindex="0">{{ 'LOGIN.FORGOT_PWD' | oTranslate }}</span>
            </div>

            <button mat-raised-button color="primary" type="submit">{{ 'LOGIN.LOGIN' | oTranslate }}</button>
          </div>

        </form>
      </div>

    </div>
    <div class="footer-container">
      <span class="footer_text">{{ 'LOGIN.FOOTER_CREATED_BY' | oTranslate }}</span>
      <span class="footer_text"> &copy; 2024. </span>
      <span class="footer_text">{{ 'LOGIN.FOOTER_RIGHTS' | oTranslate }}</span>
    </div>
  </div>

</div>