.type-card {
  width: 200px;
  height: 150px;
  cursor: pointer;
  justify-content: space-around;
  margin: 24px;

  .center-icon {
    align-self: center;
    margin-bottom: 32px;
  }
}

.mat-mdc-card.active {
  border: 1px solid transparent;
}

.hide {
  display: none;
}