.o-form {
  .bg-level-1 {
    max-height: 100%;
    overflow-y: auto;

    .cards-container {
      margin: 20px 40px;
      flex-wrap: wrap;
      gap: 24px;
      flex: 0 1 auto;

      .mat-mdc-card {
        width: 292px;
        height: 104px;
        cursor: pointer;
        justify-content: space-between;
        border: solid 1px;
      }
    }

    .filters {
      margin: 0px 40px;
      flex: 0 1 auto;
    }

    .table-container{
      margin: 8px 40px;
      flex: 1 1 auto;
    }
  }
}