<o-form editable-detail="no" show-header="no">
  <div fxLayout="column" class="bg-level-1" fxFill>
    <div fxLayout="row" fxLayoutAlign="space-between" class="cards-container">
      <mat-card [ngClass]="type == 1 ? 'active type-card' : 'type-card'" (click)="filterBuilder.triggerReload(); type=1">
        <mat-card-header [ngClass]="type == 1 ? 'active' : '' ">{{ "NORMAL" | oTranslate }}</mat-card-header>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon [ngClass]="type == 1 ? 'active' : '' " svgIcon="ontimize:normal"></mat-icon>
            {{ normalCount }}
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card [ngClass]="type == 2 ? 'active type-card' : 'type-card'" (click)="filterBuilder.triggerReload(); type=2">
        <mat-card-header [ngClass]="type == 2 ? 'active' : '' ">{{ "VIP" | oTranslate }}</mat-card-header>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon [ngClass]="type == 2 ? 'active' : '' "svgIcon="ontimize:VIP"></mat-icon>
            {{ vipCount }}
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card [ngClass]="type == 3 ? 'active type-card' : 'type-card'" (click)="filterBuilder.triggerReload(); type=3">
        <mat-card-header [ngClass]="type == 3 ? 'active' : '' ">{{ "OTHER" | oTranslate }}</mat-card-header>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon [ngClass]="type == 3 ? 'active' : '' "svgIcon="ontimize:other"></mat-icon>
            {{ otherCount }}
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card [ngClass]="type == 0 ? 'active type-card' : 'type-card'" (click)="filterBuilder.triggerReload(); type=0">
        <mat-card-header [ngClass]="type == 0 ? 'active' : '' ">{{ "ALL" | oTranslate }}</mat-card-header>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon [ngClass]="type == 0 ? 'active' : '' "svgIcon="ontimize:all"></mat-icon>
            {{ totalCount }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <o-column-collapsible title="{{ 'FILTER_BUTTON' | oTranslate }}" appearance="legacy" expanded="no" icon="filter_list" class="collapsible">
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutGap="20px">
          <o-text-input attr="NAMEFILTER" label="NAME" read-only="no" fxFlex></o-text-input>
          <o-text-input attr="SURNAMEFILTER" label="SURNAME" read-only="no" fxFlex></o-text-input>
          <o-email-input attr="EMAILFILTER" label="EMAIL" read-only="no" fxFlex></o-email-input>
        </div>
        <div fxLayoutAlign="end" fxLayoutGap="20px">
          <o-button attr="clear" [oFilterBuilderClear]="filterBuilder" type="RAISED" label="Clear"></o-button>
          <o-button attr="filter" [oFilterBuilderQuery]="filterBuilder" type="RAISED" color="primary" label="Filter"></o-button>
        </div>
      </div>
    </o-column-collapsible>

    <o-filter-builder #filterBuilder attr="thefilter" filters="NAME:NAMEFILTER;SURNAME:SURNAMEFILTER;EMAIL:EMAILFILTER;CUSTOMERTYPEID"
      [target]="table" query-on-change="yes" query-on-change-delay="500" [expression-builder]="createFilter"></o-filter-builder>
    <div fxFlex>
      <o-table #table fxFlex attr="customer" title="CUSTOMERS" entity="@customer@" service="@yourService@" keys="@CUSTOMERID@"
        columns="@PHOTO;CUSTOMERID;NAME;SURNAME;ADDRESS;STARTDATE;EMAIL;CUSTOMERTYPEID@"
        visible-columns="@NAME;SURNAME;STARTDATE;EMAIL;ADDRESS;CUSTOMERTYPEID@" sort-columns="@SURNAME@" query-rows="24" row-height="medium"
        select-all-checkbox="true" pageable="yes" virtual-scroll="no" detail-mode="click" quick-filter="yes" delete-button="no" refresh-button="no"
        insert-button="no">
        <o-table-column attr="NAME" title="NAME" orderable="no"></o-table-column>
        <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-table-column>
        <o-table-column attr="CUSTOMERTYPEID" title="CUSTOMERTYPEID" editable="true">
          <o-table-cell-renderer-service service="@yourService@" entity="@customerType@" value-column="@DESCRIPTION@" translate="no"
            columns="@CUSTOMERTYPEID;DESCRIPTION@" visible-columns="@DESCRIPTION@">
          </o-table-cell-renderer-service>
        </o-table-column>
        <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
      </o-table>
    </div>
  </div>
</o-form>